@page "/"

<h1>brew's amazing dotnet core blazor HospitalPlanner</h1>

<p>Post-Camp work done by lem.</p>
<ul title="Technologies">
    <li>ASP.NET Core 2.1</li>
    <li>Blazor 0.7.0 for WASM</li>
    <li>REST API in backend</li>
</ul>

<img src="/img/office-1209640_1280.jpg" class="img-fluid" width="40%" alt="Topic image" />
